@import "tailwindcss";

@theme {
  /* Define your custom colors below */
  --color-background: #000000;
  --color-orange-text: #ffa022;
  --color-white-text: #ffffff;

  --color-border: #282828;
  --color-border-active: #646464;

  --color-background-secondary: #363636;
  --color-background-secondary-highlight: #464646;

  --color-selection-background: #113c66;
  --color-error: #a1112c;
  --color-error-foreground: var(--color-white-text);
}
