name: CI

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Use Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install deps
        run: pnpm install

      - name: Turbo cache restore
        uses: actions/cache@v4
        with:
          path: .turbo
          key: turbo-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ github.ref }}-
            turbo-

      - name: Run all builds
        run: pnpm turbo run build
